body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    line-height: 150%;
    margin: auto;
    background-image: url("../images/round.png"); 
}
a {
    color: #777777;
}
hr {
    height: 2px;
    background: #c2bdbd;
}
.clearfix::after {
    content: "";
    display: block;
    clear:both;
    }
header {
    position: relative;
    height: 50px;
    background: #ebebee;
    padding: 20px 300px 20px 20px;
    text-align: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0px 0px 40px 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #c2bdbd;

}
.box1 {
    position: absolute;
    width: 250px;
    height: 55px;
    color: #ebebee;
    background: #4aaaa5;
    text-align: center;
    font-size: 40px;
    padding: 30px 10px 10px 10px;
    left: 240px;
    top: -45px;
}
.me {
    max-height: 250px;
    max-width: 250px;
    float: left;
    margin: 10px 10px;
}
section {
    margin: auto;
    width: 960px;
    overflow: hidden;
    background: #ebebee;
    padding: 10px 10px;
    box-shadow: 5px 10px #c2bdbd;
    padding: 20px 20px;
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.button1 {
    background: #4aaaa5;
    color: #ebebee;
    padding: 10px 20px 10px 20px;
}
input {
    width: 100%;
}
.bigform
    { 
    height: 200px;

    }