body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    line-height: 150%;
    margin: auto;
    background-image: url("../images/round.png"); 
}
a {
    color: #777777;
    text-decoration: none;
}
hr {
    height: 2px;
    background: #c2bdbd;
}
.clearfix::after {
    content: "";
    display: block;
    clear:both;
    }
header {
    position: relative;
    height: 50px;
    background: #ebebee;
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0px 0px 40px 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #c2bdbd;

}
nav {
    width: 100%;
    position: absolute;
    float: left;
    right: 0%;
    padding: 0% 18% 0% 0%;
    text-align: right;
}
 .box1 {
    position: absolute;
    width: 250px;
    height: 200%;
    color: #ebebee;
    background: #4aaaa5;
    text-align: center;
    font-size: 40px;
    left: 28%;
    top: -230%;
    padding: 20px 20px;
   
}
.me {
    max-height: 250px;
    max-width: 250px;
    float: left;
    margin: 10px 10px;
}
section {
    margin: auto;
    width: 960px;
    background: #ebebee;
    padding: 10px 10px;
    box-shadow: 5px 10px #c2bdbd;
    padding: 20px 20px;
    overflow: hidden;
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
footer {
    position: fixed;
    bottom: 0%;
    margin: 10px 0px 0px 0px;
    overflow: hidden;
    color: #ebebee;
    text-align: center;
    font-size: 10px;
    height: 50px;
    width: 100%;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #4aaaa5;
    background:#777777;
    clear: both;
}
.button1 {
    background: #4aaaa5;
    color: #ebebee;
    padding: 20px 20px 20px 20px;
}
input {
    width: 100%;
}
.bigform
    { 
    height: 200px;

    }
div.relative {
    position: relative;
    margin: 10px 10px;
    overflow: hidden;
    float:left;
}
.portpics {
    width: 400px;
    height:200px;
}
.relative h2 {
    color: #ebebee;
    position: absolute;
    bottom:5%;
    padding: 10px 0px 0px 0px;
    text-align:center;
    background: #4aaaa5;
    width: 100%;
    height: 20%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
